<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <title>Centres List</title>
</head>
<body>
<div class="d-flex flex-row mb-3">
    <div
            class="card ms-3 me-3 bg-info"
            th:each="center: ${centres}"
            style="width: 18rem "
    >
        <div class="card-body">
            <h4>Name:</h4>
            <h5 class="card-title" th:text="${centre?.name}" />
            <h6
                    class="card-subtitle mb-2 text-muted"
                    th:text="|Latitude: ${centre?.latitude}|"
            />
            <h6
                    class="card-subtitle mb-2 text-muted"
                    th:text="|Longitude: ${centre?.longitude }|"
            />
        </div>
    </div>
</div>
<div
        class="d-flex flex-column bd-highlight justify-content-left align-items-left w-75 ms-5"
>


<!--    <form class="mt-3" method="post" th:object="${itemsByBrandDto}">-->
<!--        <div class="mb-3">-->
<!--            <label for="brand" class="form-label"-->
<!--            >Brand:-->
<!--            </label>-->
<!--            &lt;!&ndash;By using th:field we "bind" item model java fields to html input that we will provide&ndash;&gt;-->
<!--            <input-->
<!--                    type="text"-->
<!--                    class="form-control"-->
<!--                    id="brand"-->
<!--                    th:field="*{brand}"-->
<!--                    aria-describedby="brandHelp"-->
<!--            />-->
<!--            <div id="brandHelp" class="form-text">-->
<!--                Not a valid brand name-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="yearOfCreation" class="form-label">Year: </label>-->
<!--            <input-->
<!--                    type="int"-->
<!--                    id="yearOfCreation"-->
<!--                    th:field="*{yearOfCreation}"-->
<!--                    name="yearOfCreation"-->
<!--            />-->
<!--        </div>-->

<!--        <button class="btn btn-primary mt-5">-->
<!--            Search By Name Brand and Year-->
<!--        </button>-->
<!--    </form>-->
<!--    <h6-->
<!--            class="card-subtitle mb-2 text-muted"-->
<!--            th:text="|USERNAME: ${username}|"-->
<!--    />-->
<!--    <div th:if="${username=='admin' or username=='warehouse'}">-->
<!--        <a class="btn btn-primary mt-5" th:href="@{/input}">-->
<!--            Add Items-->
<!--        </a>-->
<!--    </div>-->
<!--    <div th:if="${username=='admin'}">-->
<!--        <a class="btn btn-primary mt-5" th:href="@{/management}">-->
<!--            Inventory Management Portal-->
<!--        </a>-->
<!--    </div>-->

    <ul class="pagination mt-5">
        <li class="page-item">
            <a class="page-link" th:href="@{/centersList/switchPage(pageToSwitch=${currentPage - 1})}">Previous</a>
        </li>
        <li
                class="page-item"
                th:classappend="${currentPage + 1 eq page} ? 'active' : 'not'"
                th:each="page: ${#numbers.sequence(3, totalPages)}"
        >
            <a class="page-link" th:text="${page}" th:href="@{/centersList/switchPage(pageToSwitch=${page - 1})}" />
        </li>
        <li class="page-item"><a class="page-link" th:href="@{/centersList/switchPage(pageToSwitch=${currentPage + 1})}">Next</a></li>
    </ul>
    </nav>
</div>
</body>
</html>
